@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --------------------- Common Code */
body {
    font-family: 'Poppins', sans-serif;
}

.section_title {
    max-width: 606px;
    width: 100%;
}

.mt_130 {
    margin-top: 130px;
}

.same_btn {
    background-color: #289BDE;
}

.same_btn:hover {
    background-color: #289bdec7;
}

/* ----------------------- Header */
header .nav-item {
    margin: 0 20px;
}

header .carousel-item {
    position: relative;

}

header .carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.5);
}

header .carousel-caption {
    z-index: 1;
    max-width: 671px;
}

header .carousel-caption h1 {
    line-height: 85px;
    font-size: 65px;
    font-weight: 600;
}

header .carousel-caption p {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

/* -------------------------- Cources Area*/
.cources_area .card {
    min-height: 200px;
}

.cources_area .card img {
    min-height: 200px;
}

.cources_area .card .title {
    font-size: 25px;
    line-height: 37px;
    font-weight: 600;
}

.cources_area .card p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cources_area .card .price {
    color: #289BDE;
}

/* ----------------------- About Area */
.about_area {
    background-color: #F4FAFD;
}

/* ----------------------- Frequently Area */
.frequently_area {
    max-width: 872px;
    margin: auto;
}

/* ----------------- Register Area */
.register_area {
    background-color: #289BDE;
}

/* --------------------- Patner */
.patner_images img {

    margin: 14px;
}

/* -------------------- Footer Area */
.footer_area {
    padding: 130px 0;
}

.socil_icon {
    max-width: 250px;
    list-style: none;

}

.socil_icon li a {
    width: 40px;
    height: 40px;
    background-color: rgb(22, 22, 21);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ Media Query */
@media(max-width:768px) {

    header .carousel-caption {
        max-width: 500px;
    }

    header .carousel-caption h1 {
        line-height: 50px;
        font-size: 40px;
    }

    header .carousel-caption p {
        line-height: 25px;
        font-size: 16px;
    }
}

@media(max-width:576px) {
    header .carousel-item img {
        height: 261px;
    }

    header .carousel-caption h1 {
        line-height: 30px;
        font-size: 20px;
    }

    header .carousel-caption p {
        line-height: 18px;
        font-size: 12px;
    }
}